<div class="row">
	<div class="col-xs-6 col-md-9">
		<div class="icon_big">
			<span class="glyphicon glyphicon-camera icon_big" aria-hidden="true" id="camera_picture"></span>		
		</div>
	</div>
	<div class="col-xs-6 col-md-9">
		<div class="icon_big">
			<span class="glyphicon glyphicon-folder-open icon_big" aria-hidden="true" id="local_picture"></span>
		</div>
	</div>
</div>

<%= form_for @boulder, remote: true, authenticity_token: true do |f| %>
	<%= f.file_field :picture, id: "pictureToUpload", onchange: "pictureTaken();", accept: "image/*", class: "hidden", capture: "camera" %><br>
	<%= f.file_field :picture, id: "fileToUpload", onchange: "fileSelected();", accept: "image/*", class: "hidden"%><br>
<% end %>
  
<div id="details"></div>
<div id="progress"></div>