// Place all the styles related to the boulders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
	display: none;
}

div.icon_big {
	background-color: orange;
	text-align: center;
	margin: 10px;
	border-radius: 13px;
}

span.icon_big {
	font-size: 6em;
	padding: 0px 8px 0px 8px;
}

span.icon_medium {
	font-size: 2.5em;
}

span.icon_small {
	font-size: 1.2em;
}

span.icon_big:hover {
	color: white;
}

div.dashed_border {
	margin: 10px 5px 10px 5px;
	padding: 10px 10px 10px 0;
	border: 3px dashed #ccc;
}

div.success_border {
	border-color: #449d44;
}

div.warning_border {
	border-color: orange;
}

div.error_border {
	border-color: #d9534f;
}


img#picture_preview {
	width: 150px;
}

.rotated {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.progress_div {
	margin: 10px 0 10px 0;
}

@media only screen and (max-width: 359px){
	#mini_user_panel {
		font-size: 0.9em;
	}
	img#picture_preview {
		width: 130px;
	}

	span.icon_big {
		font-size: 5em;
	}

	span.icon_medium {
		font-size: 2.2em;
	}
}

@media only screen and (min-width: 360px) {
	img#picture_preview {
		width: 150px;
	}
}

#js-message_display a {
	color: orange;
}

.rotate0{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(0deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(0deg);
	/* Opera */
	-o-transform:rotate(0deg);
	/* IE9 */
	-ms-transform:rotate(0deg);
}
.rotate90 {
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(90deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(90deg);
	/* Opera */
	-o-transform:rotate(90deg);
	/* IE9 */
	-ms-transform:rotate(90deg);
}
.rotate180{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(180deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(180deg);
	/* Opera */
	-o-transform:rotate(180deg);
	/* IE9 */
	-ms-transform:rotate(180deg);
}
.rotate270{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(270deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(270deg);
	/* Opera */
	-o-transform:rotate(270deg);
	/* IE9 */
	-ms-transform:rotate(270deg);
}
.rotate-90{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(-90deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(-90deg);
	/* Opera */
	-o-transform:rotate(-90deg);
	/* IE9 */
	-ms-transform:rotate(-90deg);
}
.rotate-180{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(-180deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(-180deg);
	/* Opera */
	-o-transform:rotate(-180deg);
	/* IE9 */
	-ms-transform:rotate(-180deg);
}
.rotate-270{
	behavior:url(-ms-transform.htc);
	/* Firefox */
	-moz-transform:rotate(-270deg);
	/* Safari and Chrome */
	-webkit-transform:rotate(-270deg);
	/* Opera */
	-o-transform:rotate(-270deg);
	/* IE9 */
	-ms-transform:rotate(-270deg);
}