// Place all the styles related to the boulders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.hidden {
	display: none;
}

div.icon_big {
	background-color: orange;
	text-align: center;
	margin: 10px;
	border-radius: 13px;
}

span.icon_big {
	font-size: 6em;
	color: rgb(242, 243, 244);
	padding: 0px 8px 0px 8px;
}

#boulder_div ul{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

#boulder_div li {
	margin-top: 2px;
}

#boulder_div img {
	width: 200px;
	margin-right: 10px;
	border: 1px solid orange;
}

@media only screen and (max-width: 360px) {
	#boulder_div img {
		width: 150px;
	}
}