// Place all the styles related to the boulders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
	display: none;
}

div.icon_big {
	background-color: orange;
	text-align: center;
	margin: 10px;
	border-radius: 13px;
}

span.icon_big {
	font-size: 6em;
	padding: 0px 8px 0px 8px;
}

span.icon_medium {
	font-size: 2.5em;
}

span.icon_small {
	font-size: 1em;
}

span.icon_big:hover {
	color: white;
}

#boulder_div ul{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

#boulder_div li {
	margin-top: 2px;
}

#boulder_div img {
	width: 200px;
	margin-right: 10px;
	border: 1px solid orange;
}

@media only screen and (max-width: 360px) {
	#boulder_div img {
		width: 150px;
	}
}

div.picture_preview {
	margin: 10px 5px 0 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px dashed #ccc;
}

img#picture_preview {
	width: 150px;
}

.rotated {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}