<header class="class-header row">
	<div class="col-xs-12 col-md-9">
		<h1 class="text-center"><%= link_to('Gravel', site_index_path) %></h1>
	</div>
	<div id="user_panel" class="col-md-3 hidden-xs hidden-sm">
		<p>Welcome Username</p>
		<ul>
			<li><a href="">Profile</a></li>
			<li><a class="js-api_boulder_path" href="#">Boulders</a></li>
			<li><a href="">New boulder</a></li>
		</ul>
	</div>
</header>

<div id="mini_user_panel" class="row hidden-md hidden-lg">
	<a href="">
		<div class="col-xs-4">
			Profile
		</div>
	</a>
	<a href="">
		<div class="col-xs-4">
			Boulders
		</div>
	</a>
	<a href="">
		<div class="col-xs-4">
			New boulder
		</div>
	</a>
</div>